{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
    "nuxt",
    "prettier"
  ],
  "extends": [
    "@nuxtjs", // extends 'standard', 'plugin:vue/recommended'; plugins 'vue'
    "plugin:nuxt/base",
    "plugin:nuxt/recommended",
    "prettier",
    "prettier/vue"
  ],
  "rules": {
    "prettier/prettier": "error",
    "prefer-const": "off"
  },
  "overrides": [
    // prevent prettier rules from messing up gulpfiles
    {
      "files": ["*gulpfile*"],
      "rules": {
        "prettier/prettier": "off",
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "require-await": "off"
      }
    }
  ]
}
