{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": [
    "@nuxtjs",
    "plugin:nuxt/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/vue"
  ],
  "plugins": [
    "prettier"
  ],
  // add your custom rules here
  "rules": {
    "prefer-const": "off",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "vue/no-unused-components": "off"
  }
}
