{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": [
    "node",
    "import",
    "promise",
    "prettier"
  ],
  "extends": [
    "standard",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    // prevent prettier rules from messing up gulpfiles
    {
      "files": ["*gulpfile*"],
      "rules": {
        "prettier/prettier": "off",
        "semi": ["error", "always"],
        "quotes": ["error", "single"]
      }
    }
  ]
}
