{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "eslint-config-prettier",
    "prettier"
  ],
  "plugins": [
    "eslint-plugin-prettier",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    // prevent prettier rules from messing up gulpfiles
    {
      "files": ["*gulpfile*"],
      "rules": {
        "prettier/prettier": "off",
        "semi": ["error", "always"],
        "quotes": ["error", "single"]
      }
    }
  ]
}
